.hello{
font-size:2cm;
color:red;
}
.one{
font-size:1cm;
color:yellow;
}
.two{
font-size:0.5cm;
color:purple;
}
.three{
font-size:0.5cm;
color:purple;
}
.four{
font-size:2cm;
color:blue;
}
.five{
font-size:3cm;
color:green;
}
.whole{
margin-left:10cm;
margin-top:2cm;
}
body{
background-image:url("back.jpg");
}
.bar{
display:flex;
background-color:black;
margin-left:1cm;
heigt:.7cm;
}
.common{
color:white;
font-size:.8cm;
margin-left:3cm;
}
img{
height:.9cm;
}
margin-top:.4cm;
}
